<div class="container">
    <div class="ptn_search_hdr" style="position: relative;">
    <span class="ptn_search_hdr_txt">Patient</span>
      <div class="search-dropdown">
        <input type="text" class="search-input" [(ngModel)]="searchQuery" (keydown)="onEnter($event)" placeholder="Last Name, ptn. ID, or last 4 of SSN">
        <ul *ngIf="filteredOptions.length > 0" class="dropdown-list">
          <li *ngFor="let option of filteredOptions" (click)="onOptionClick(option)">
            {{ option.ptn_last_nm }},  {{ option.ptn_first_nm }}
          </li>
        </ul>
      </div>
      <div class="ptn_search_hdr_icons">


        <mat-icon class="add-icon" 
        style="font-variation-settings: 'wght' 200;color:rgb(35, 92, 214);"
        matTooltip="Generate PDF" (click)="generatePDFone()">picture_as_pdf</mat-icon>

        <mat-icon class="add-icon" 
        style="font-variation-settings: 'wght' 200;color:green;"
        matTooltip="Add New Patient" (click)="toggleMode()">group_add</mat-icon>

        <mat-icon class="add-icon" fontSet="material-symbols-outlined" 
        class="delete-icon" style="font-variation-settings: 'wght' 200;color:red;"
        matTooltip="delete selected Parient"
        (click)="openWarningDialog('Are you sure you want to delete this Patient?', selectedOption.ptn_id)">delete_outline</mat-icon>
 
      </div>
    </div>
    <div class="ptn_details">
  <mat-accordion>
      <mat-expansion-panel hideToggle [disabled]="!selectedOption?.ptn_id" #panel1>
        <mat-expansion-panel-header class="ptn_details_hdr">
          <mat-panel-title>Patient Information: {{ selectedOption?.ptn_first_nm }} {{ selectedOption?.ptn_last_nm }} 
          <span class="span-ptn_id" *ngIf="selectedOption?.ptn_id">(ID: {{ selectedOption.ptn_id }})</span></mat-panel-title>
          <mat-panel-description *ngIf="selectedOption?.ptn_date_of_birth">
            <span class="ptn_details_hdr">DOB:</span>{{ selectedOption?.ptn_date_of_birth  | date:'YYYY-MM-dd' }}
            <span class="ptn_details_hdr">Address:</span> {{ selectedOption?.ptn_address }}  
            ,&nbsp; {{ selectedOption?.ptn_city }}
            &nbsp;{{ selectedOption?.ptn_state }}
            &nbsp;{{ selectedOption?.ptn_zip }}
            &nbsp;&#9;<span *ngIf="selectedOption?.ptn_ssn"  class="ptn_details_hdr">SSN#:</span><span>{{ selectedOption?.ptn_ssn |ssnMask}}</span> 
 
            <mat-icon class="chevron-icon">
              {{ panel.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
            </mat-icon> 
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-divider class="thick-divider"></mat-divider>

        <form [formGroup]="patientForm" (ngSubmit)="onSubmit(patientForm.value)">
            <div class="form-row">
            <mat-form-field appearance="fill" class="form-field" style="width: 120pt;">
                <mat-label class="form-label">First Name</mat-label>
                <input matInput formControlName="ptn_first_nm" required maxlength="30">
                <mat-error class="error-message"*ngIf="patientForm.get('ptn_first_nm')?.hasError('required')">
                  required
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="form-field" style="width: 70pt;">
                <mat-label class="form-label">Mid Init</mat-label>
                <input matInput formControlName="ptn_mid_init">
              </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 120pt;">
              <mat-label class="form-label" >Last Name</mat-label>
              <input matInput formControlName="ptn_last_nm" required maxlength="30">
              <mat-error class="error-message"*ngIf="patientForm.get('ptn_last_nm')?.hasError('required')">
                required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field" style="width: 120pt;">
              <mat-label class="form-label" >Date of Birth</mat-label>
              <input matInput formControlName="ptn_date_of_birth"  mask="00/00/0000" placeholder="MM/DD/YYYY" required>
              <mat-error class="error-message" *ngIf="patientForm.get('ptn_date_of_birth')?.hasError('required')">
                required
              </mat-error>
            </mat-form-field> 
              <mat-form-field appearance="fill" class="form-field" style="width: 90pt;">
              <mat-label class="form-label">Sex</mat-label>
                <mat-select formControlName="ptn_sex" required>
                    <mat-option [value]="'M'">Male</mat-option>
                    <mat-option [value]="'F'">Female</mat-option>
                  </mat-select>
                <mat-error class="error-message" *ngIf="patientForm.get('ptn_sex')?.hasError('required')">
                  required
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="form-field" style="width: 100pt;">
                <mat-label class="form-label">SSN#</mat-label>
                <input matInput formControlName="ptn_ssn" mask="000-00-0000" placeholder="000-00-0000">
              </mat-form-field>
 
              <mat-form-field appearance="fill" class="form-field" style="width: 120pt;">
                <mat-label class="form-label">Home Phone</mat-label>
                <input matInput formControlName="ptn_home_phone" mask="(000) 000-0000" placeholder="(555) 555-5555">
              </mat-form-field>
 
              <mat-form-field appearance="fill" class="form-field" style="width: 120pt;">
                <mat-label class="form-label">Mobile Phone</mat-label>
                <input matInput formControlName="ptn_mobile_phone"  mask="(000) 000-0000" placeholder="(555) 555-5555">

              </mat-form-field>
              <mat-form-field appearance="fill" class="form-field" style="width: 240pt;">
                <mat-label class="form-label">Ocupation</mat-label>
                <input matInput formControlName="ptn_occupation" maxlength="150">
              </mat-form-field>              
             </div>
             <div class="form-row">

                <mat-form-field appearance="fill" class="form-field" style="width: 255pt;">
                    <mat-label class="form-label">Address</mat-label>
                    <input matInput formControlName="ptn_address" required maxlength="50">
                    <mat-error class="error-message" *ngIf="patientForm.get('ptn_address')?.hasError('required')">
                      required
                    </mat-error>
                  </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 190pt;">
                    <mat-label class="form-label">City</mat-label>
                    <input matInput formControlName="ptn_city" required maxlength="35">
                    <mat-error class="error-message" *ngIf="patientForm.get('ptn_city')?.hasError('required')">
                      required
                    </mat-error>
                  </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 60pt;">
                    <mat-label class="form-label">State</mat-label>
                    <input matInput formControlName="ptn_state" required maxlength="2">
                    <mat-error class="error-message" *ngIf="patientForm.get('ptn_state')?.hasError('required')">
                      required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 70pt;">
                    <mat-label class="form-label">Zip</mat-label>
                    <input matInput formControlName="ptn_zip" required numericOnly maxlength="5" pattern="[0-9]*">
                    <mat-error class="error-message" *ngIf="patientForm.get('ptn_zip')?.hasError('required')">
                      required
                    </mat-error>                    
                </mat-form-field>  
                <mat-form-field appearance="fill" class="form-field" style="width: 100pt;">
                <mat-label class="form-label">Status</mat-label>
                <mat-select formControlName="ptn_active_flag" required>
                    <mat-option [value]="'Y'">Active</mat-option>
                    <mat-option [value]="'N'">Inactive</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 470pt;text-transform: none;">
                    <mat-label class="form-label">Comments</mat-label>
                    <input matInput formControlName="ptn_comments" maxlength="300">                 
                </mat-form-field>  
                                            
            
                <button mat-raised-button color="primary" type="submit">
                  {{ isUpdateMode ? 'Update Patient' : 'Add Patient' }}
                </button>
            </div>
          </form>
      </mat-expansion-panel>

      <!-- Second Panel -->
      <mat-expansion-panel [disabled]="!selectedOption?.ptn_id" #panel2>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Assets
          </mat-panel-title>
          <mat-panel-description class="panel-description">
            Provider and insurance (and possibly a lawyer as well).
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider class="thick-divider"></mat-divider>

        <p>Provider and doctor from the list .</p>
        <p>Insurance from the list. + contact information</p>
        <p>Do we need ICD codes on the paient level</p>
      </mat-expansion-panel>

      <mat-expansion-panel [disabled]="!selectedOption?.ptn_id" #panel3>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Services
          </mat-panel-title>
          <mat-panel-description class="panel-description">
            Service header and service details
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider class="thick-divider"></mat-divider>

        <p>Services: dates, service provider, service total amount, service status</p>
        <span>-------------------------------------------------------------------------</span>
        <p>Service details: CPT codes + amount</p>
      </mat-expansion-panel>     
  </mat-accordion>

    </div>

  </div>

  <div *ngIf="showPopup" class="error-popup">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="showSuccessPopup" class="popup-success">
    {{ successMessage }}
  </div>
