<div class="container">
    <div class="ptn_search_hdr" style="position: relative;">
    <span class="ptn_search_hdr_txt">Patient</span>
      <div class="search-dropdown">
        <div class="search-input-row">
          <input type="text" class="search-input" [(ngModel)]="searchQuery" (keydown)="onEnter($event)" placeholder="Last name, patient ID, last 4 SSN, or ALL">
          <mat-icon
            class="search-more-icon"
            fontSet="material-symbols-outlined"
            matTooltip="More search options"
            (click)="openAdvancedSearch()">person_search</mat-icon>
        </div>
        <ul *ngIf="filteredOptions.length > 0" class="dropdown-list">
          <li *ngFor="let option of filteredOptions" (click)="onOptionClick(option)">
            <div class="search-result-name">
              {{ option.ptn_last_nm }}, {{ option.ptn_first_nm }}
              <span *ngIf="option.ptn_id" class="search-ptn-id">({{ option.ptn_id }})</span>
            </div>
            <div class="search-result-meta" *ngIf="searchResultMeta(option) as meta">{{ meta }}</div>
          </li>
        </ul>
      </div>
      <div class="ptn_search_hdr_icons">


        <mat-icon class="add-icon"
        [class.icon-disabled]="!selectedOption?.ptn_id"
        style="font-variation-settings: 'wght' 200;color:rgb(35, 92, 214);"
        matTooltip="Generate PDF" (click)="generatePDFone()">picture_as_pdf</mat-icon>

        <mat-icon class="add-icon" 
        style="font-variation-settings: 'wght' 200;color:green;"
        matTooltip="Add New Patient" (click)="toggleMode()">group_add</mat-icon>

        <mat-icon class="add-icon" fontSet="material-symbols-outlined" 
        class="delete-icon"
        [class.icon-disabled]="!selectedOption?.ptn_id"
        style="font-variation-settings: 'wght' 200;color:red;"
        matTooltip="Delete selected patient"
        (click)="confirmDeletePatient()">delete_outline</mat-icon>
 
      </div>
    </div>
    <div class="ptn_details">
  <mat-accordion>
      <mat-expansion-panel hideToggle [disabled]="isUpdateMode && !selectedOption?.ptn_id" #panel1>
        <mat-expansion-panel-header class="ptn_details_hdr">
          <mat-panel-title>Patient Information: {{ selectedOption?.ptn_first_nm }} {{ selectedOption?.ptn_last_nm }} 
          <span class="span-ptn_id" *ngIf="selectedOption?.ptn_id">(ID: {{ selectedOption.ptn_id }})</span></mat-panel-title>
          <mat-panel-description *ngIf="selectedOption?.ptn_date_of_birth">
            <span class="ptn_details_hdr">DOB:</span>{{ selectedOption?.ptn_date_of_birth  | date:'YYYY-MM-dd' }}
            <span class="ptn_details_hdr">Address:</span> {{ selectedOption?.ptn_address }}  
            ,&nbsp; {{ selectedOption?.ptn_city }}
            &nbsp;{{ selectedOption?.ptn_state }}
            &nbsp;{{ selectedOption?.ptn_zip }}
            &nbsp;&#9;<span *ngIf="ssnLast4"  class="ptn_details_hdr">SSN#:</span><span>{{ ssnLast4 | ssnMask }}</span> 
 
            <mat-icon class="chevron-icon">
              {{ panel1?.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
            </mat-icon> 
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-divider class="thick-divider"></mat-divider>

        <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
            <mat-form-field appearance="fill" class="form-field" style="width: 120pt;">
                <mat-label class="form-label">First Name</mat-label>
                <input matInput formControlName="ptn_first_nm" required maxlength="30">
                <mat-error class="error-message"*ngIf="patientForm.get('ptn_first_nm')?.hasError('required')">
                  required
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="form-field" style="width: 70pt;">
                <mat-label class="form-label">Mid Init</mat-label>
                <input matInput formControlName="ptn_mid_init" maxlength="3">
              </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 120pt;">
              <mat-label class="form-label" >Last Name</mat-label>
              <input matInput formControlName="ptn_last_nm" required maxlength="30">
              <mat-error class="error-message"*ngIf="patientForm.get('ptn_last_nm')?.hasError('required')">
                required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field" style="width: 120pt;">
              <mat-label class="form-label" >Date of Birth</mat-label>
              <input matInput formControlName="ptn_date_of_birth"  mask="00/00/0000" placeholder="MM/DD/YYYY">
            </mat-form-field> 
              <mat-form-field appearance="fill" class="form-field" style="width: 90pt;">
              <mat-label class="form-label">Sex</mat-label>
                <mat-select formControlName="ptn_sex">
                    <mat-option [value]="'M'">Male</mat-option>
                    <mat-option [value]="'F'">Female</mat-option>
                  </mat-select>
              </mat-form-field>
              <div class="ssn-field-wrap">
                <mat-form-field *ngIf="isUpdateMode && !ssnReplaceMode" appearance="fill" class="form-field" style="width: 120pt;">
                  <mat-label class="form-label">SSN#</mat-label>
                  <input matInput [value]="ssnLast4 | ssnMask" readonly>
                </mat-form-field>
                <mat-form-field *ngIf="!isUpdateMode || ssnReplaceMode" appearance="fill" class="form-field" style="width: 120pt;">
                  <mat-label class="form-label">SSN#</mat-label>
                  <input matInput
                    formControlName="ptn_ssn"
                    mask="000-00-0000"
                    [dropSpecialCharacters]="true"
                    maxlength="11"
                    placeholder="000-00-0000">
                </mat-form-field>
                <mat-icon
                  *ngIf="isUpdateMode && !ssnReplaceMode"
                  class="ssn-update-icon"
                  [class.icon-disabled]="ssnLoading"
                  fontSet="material-symbols-outlined"
                  matTooltip="Update SSN"
                  (click)="enableSsnReplace()">edit_square</mat-icon>
              </div>
 
              <mat-form-field appearance="fill" class="form-field" style="width: 120pt;">
                <mat-label class="form-label">Home Phone</mat-label>
                <input matInput formControlName="ptn_home_phone" mask="(000) 000-0000" maxlength="15" placeholder="(555) 555-5555">
              </mat-form-field>
 
              <mat-form-field appearance="fill" class="form-field" style="width: 120pt;">
                <mat-label class="form-label">Mobile Phone</mat-label>
                <input matInput formControlName="ptn_mobile_phone"  mask="(000) 000-0000" maxlength="15" placeholder="(555) 555-5555">

              </mat-form-field>
              <mat-form-field appearance="fill" class="form-field" style="width: 240pt;">
                <mat-label class="form-label">Occupation</mat-label>
                <input matInput formControlName="ptn_occupation" maxlength="70">
              </mat-form-field>              
             </div>
             <div class="form-row">

                <mat-form-field appearance="fill" class="form-field" style="width: 255pt;">
                    <mat-label class="form-label">Address</mat-label>
                    <input matInput formControlName="ptn_address" maxlength="50">
                  </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 190pt;">
                    <mat-label class="form-label">City</mat-label>
                    <input matInput formControlName="ptn_city" maxlength="35">
                  </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 60pt;">
                    <mat-label class="form-label">State</mat-label>
                    <input matInput formControlName="ptn_state" maxlength="2">
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 70pt;">
                    <mat-label class="form-label">Zip</mat-label>
                    <input matInput formControlName="ptn_zip" numericOnly maxlength="9"> 
                </mat-form-field>  
                <mat-form-field appearance="fill" class="form-field" style="width: 100pt;">
                <mat-label class="form-label">Status</mat-label>
                <mat-select formControlName="ptn_active_flag" required>
                    <mat-option [value]="'Y'">Active</mat-option>
                    <mat-option [value]="'N'">Inactive</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 470pt;text-transform: none;">
                    <mat-label class="form-label">Comments</mat-label>
                    <input matInput formControlName="ptn_comments" maxlength="200"> 
                </mat-form-field>
            </div>
            <div class="form-row">
                <mat-form-field appearance="fill" class="form-field" style="width: 120pt;">
                  <mat-label class="form-label">Date of Accident</mat-label>
                  <input matInput formControlName="ptn_date_of_accident" mask="00/00/0000" placeholder="MM/DD/YYYY">
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 160pt;">
                  <mat-label class="form-label">Policy #</mat-label>
                  <input matInput formControlName="ptn_policy_no" maxlength="40">
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 160pt;">
                  <mat-label class="form-label">Claim #</mat-label>
                  <input matInput formControlName="ptn_claim_no" maxlength="40">
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 280pt;">
                  <mat-label class="form-label">Policyholder</mat-label>
                  <input matInput formControlName="ptn_policyholder" maxlength="70">
                </mat-form-field>
            </div>
            <div class="form-row">
                <mat-form-field appearance="fill" class="form-field" style="width: 280pt;">
                  <mat-label class="form-label">Lawyer</mat-label>
                  <mat-select formControlName="lw_id" [compareWith]="compareIds">
                    <mat-option [value]="null">None</mat-option>
                    <mat-option *ngFor="let firm of lawFirms" [value]="firm.lw_id">
                      {{ firm.lw_nm }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 280pt;">
                  <mat-label class="form-label">Provider</mat-label>
                  <input matInput [value]="companyName" readonly>
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field" style="width: 280pt;">
                  <mat-label class="form-label">Insurance</mat-label>
                  <input matInput
                    [formControl]="insuranceSearchCtrl"
                    [matAutocomplete]="autoInsurance"
                    (blur)="onInsuranceBlur()"
                    (focus)="$any($event.target).select()"
                    placeholder="Type to search">
                  <button *ngIf="insuranceSearchCtrl.value" mat-icon-button matSuffix type="button" (click)="clearInsurance()">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-autocomplete #autoInsurance="matAutocomplete"
                    class="insurance-autocomplete"
                    panelClass="insurance-autocomplete"
                    [displayWith]="displayInsurance"
                    (optionSelected)="onInsuranceSelected($event)">
                    <mat-option [value]="null">None</mat-option>
                    <mat-option *ngFor="let company of filteredInsurances$ | async" [value]="company" class="insurance-option">
                      <span class="insurance-option-name">{{ company.ic_name }}</span>
                      <span class="insurance-option-addr" *ngIf="insuranceAddress(company)">{{ insuranceAddress(company) }}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">
                  {{ isUpdateMode ? 'Update Patient' : 'Add Patient' }}
                </button>
            </div>
          </form>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle [disabled]="!selectedOption?.ptn_id" #panelDx>
        <mat-expansion-panel-header class="ptn_details_hdr">
          <mat-panel-title>
            Diagnosis (ICD)
            <span class="span-ptn_id" *ngIf="diagnoses.length">({{ diagnoses.length }})</span>
          </mat-panel-title>
          <mat-panel-description>
            <span>{{ diagnosisSummary }}</span>
            <mat-icon
              class="add-icon"
              matTooltip="Select company ICD codes"
              (mousedown)="$event.stopPropagation()"
              (click)="openPatientIcdDialog($event)">list_alt_add</mat-icon>
            <mat-icon class="chevron-icon">
              {{ panelDx?.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
            </mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-divider class="thick-divider"></mat-divider>

        <div class="dx-panel-body">
          <div *ngIf="diagnoses.length === 0" class="empty-hint">
            Assign ICD codes once for this patient. They apply to every service.
          </div>
          <div class="code-row" *ngFor="let dx of diagnoses; let i = index">
            <span class="code-value">{{ dx.icd_code }}</span>
            <span class="code-desc">{{ dx.description }}</span>
            <mat-icon class="row-remove" matTooltip="Remove diagnosis" (click)="removeDiagnosis(i)">close</mat-icon>
          </div>
        </div>
      </mat-expansion-panel>

  </mat-accordion>

    <div class="billing-workspace" *ngIf="selectedOption?.ptn_id">
      <div class="ptn-summary">
        <div class="ptn-summary-main">
          <span class="ptn-summary-name">{{ selectedOption.ptn_last_nm }}, {{ selectedOption.ptn_first_nm }}</span>
          <span class="ptn-summary-meta">ID {{ selectedOption.ptn_id }}</span>
          <span class="ptn-summary-meta" *ngIf="selectedOption.ptn_date_of_birth">
            DOB {{ selectedOption.ptn_date_of_birth | date:'MM/dd/yyyy' }}
          </span>
          <span class="status-chip" [class.status-inactive]="patientForm.get('ptn_active_flag')?.value === 'N'">
            {{ patientForm.get('ptn_active_flag')?.value === 'N' ? 'Inactive' : 'Active' }}
          </span>
        </div>
        <div class="ptn-summary-refs">
          <span><label>Insurance</label>{{ selectedInsuranceName }}</span>
          <span><label>Lawyer</label>{{ selectedLawyerName }}</span>
          <span><label>Provider</label>{{ companyName }}</span>
          <span><label>Accident</label>{{ patientForm.get('ptn_date_of_accident')?.value || '—' }}</span>
          <span><label>Policy #</label>{{ patientForm.get('ptn_policy_no')?.value || '—' }}</span>
          <span><label>Claim #</label>{{ patientForm.get('ptn_claim_no')?.value || '—' }}</span>
          <span><label>Policyholder</label>{{ patientForm.get('ptn_policyholder')?.value || '—' }}</span>
          <span><label>Patient billed</label>{{ patientBilledTotal | currency:'USD':'symbol':'1.2-2' }}</span>
          <span><label>Balance</label>{{ patientBalanceTotal | currency:'USD':'symbol':'1.2-2' }}</span>
        </div>
      </div>

      <div class="billing-panels">
        <div class="svc-list-panel">
          <div class="section-hdr">
            <span>Services</span>
            <mat-icon class="add-icon" matTooltip="Add service" (click)="addService()">playlist_add</mat-icon>
          </div>
          <div *ngIf="services.length === 0" class="empty-hint">
            No services yet. Add a date of service to start billing.
          </div>
          <div
            class="svc-item"
            *ngFor="let svc of services"
            [class.svc-item-selected]="svc === selectedService"
            (click)="selectService(svc)">
            <div class="svc-item-top">
              <span class="svc-item-date">{{ svc.svc_date | date:'MM/dd/yyyy' }}</span>
              <span class="svc-item-actions">
                <mat-icon
                  class="svc-print-icon"
                  matTooltip="Print NF-3"
                  (click)="printNf3(svc, $event)">print</mat-icon>
                <span class="status-chip" [ngClass]="statusClass(svc.status)">{{ svc.status }}</span>
              </span>
            </div>
            <div class="svc-item-mid">{{ serviceLocationLabel(svc) }}</div>
            <div class="svc-item-bottom">
              <span>{{ serviceBilled(svc) | currency:'USD':'symbol':'1.2-2' }}</span>
              <span class="svc-balance">Bal {{ serviceBalance(svc) | currency:'USD':'symbol':'1.2-2' }}</span>
            </div>
          </div>
        </div>

        <div class="svc-detail-panel" *ngIf="selectedService; else noServiceSelected">
          <div class="section-hdr">
            <span>Service {{ selectedService.svc_date | date:'MM/dd/yyyy' }}</span>
            <div class="section-hdr-actions">
              <mat-icon
                class="add-icon svc-print-icon"
                matTooltip="Print NF-3"
                (click)="printNf3(selectedService, $event)">print</mat-icon>
              <mat-icon
                class="delete-icon"
                matTooltip="Delete this service"
                (click)="confirmDeleteService()">delete_outline</mat-icon>
            </div>
          </div>

          <div class="svc-header-form">
            <mat-form-field appearance="fill" class="form-field svc-field-date">
              <mat-label class="form-label">Date of service</mat-label>
              <input matInput [(ngModel)]="selectedService.svc_date" mask="00/00/0000" placeholder="MM/DD/YYYY" (blur)="persistServiceHeader()">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field svc-field-facility">
              <mat-label class="form-label">Treating office</mat-label>
              <mat-select
                [(ngModel)]="selectedService.facility_id"
                [compareWith]="compareIds"
                (selectionChange)="onServiceFacilityChange()">
                <mat-option [value]="null">Select treating office</mat-option>
                <mat-option *ngFor="let facility of facilities" [value]="facility.facility_id">
                  {{ facility.facility_nm }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field
              appearance="fill"
              class="form-field svc-field-provider"
              [class.svc-field-locked]="!hasTreatingOffice()">
              <mat-label class="form-label">Treating provider</mat-label>
              <mat-select
                [(ngModel)]="selectedService.provider_id"
                [compareWith]="compareIds"
                [disabled]="!hasTreatingOffice()"
                (selectionChange)="onServiceProviderChange()">
                <mat-option [value]="null">
                  {{ hasTreatingOffice() ? 'Select treating provider' : 'Select treating office first' }}
                </mat-option>
                <mat-option
                  *ngFor="let provider of officeProviders"
                  [value]="provider.provider_id">
                  {{ provider.provider_nm }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field svc-field-status">
              <mat-label class="form-label">Status</mat-label>
              <mat-select [(ngModel)]="selectedService.status" (selectionChange)="persistServiceHeader()">
                <mat-option *ngFor="let status of serviceStatuses" [value]="status">{{ status }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field svc-field-notes">
              <mat-label class="form-label">Service notes</mat-label>
              <input matInput [(ngModel)]="selectedService.notes" maxlength="200" (blur)="persistServiceHeader()">
            </mat-form-field>
          </div>

          <div class="svc-totals">
            <div>
              <label>Billed</label>
              <strong>{{ serviceBilled(selectedService) | currency:'USD':'symbol':'1.2-2' }}</strong>
            </div>
            <div>
              <label>Paid</label>
              <strong>{{ servicePaid(selectedService) | currency:'USD':'symbol':'1.2-2' }}</strong>
            </div>
            <div>
              <label>Balance</label>
              <strong [class.balance-due]="serviceBalance(selectedService) > 0">
                {{ serviceBalance(selectedService) | currency:'USD':'symbol':'1.2-2' }}
              </strong>
            </div>
          </div>

          <div class="detail-card">
            <div class="section-hdr">
              <span>Service details (CPT)</span>
              <div class="section-hdr-actions">
                <button mat-stroked-button type="button" (click)="saveCptLines()">Save</button>
                <mat-icon
                  class="add-icon"
                  matTooltip="Select company CPT codes"
                  (click)="openServiceCptDialog()">list_alt_add</mat-icon>
              </div>
            </div>
            <div *ngIf="selectedService.lines.length === 0" class="empty-hint">
              Use the list icon to add company CPT codes. Modifier and charge come with the selected code and can be edited before Save.
            </div>
            <table class="billing-table cpt-edit-table" *ngIf="selectedService.lines.length > 0">
              <thead>
                <tr>
                  <th>CPT</th>
                  <th>Description</th>
                  <th>Mod</th>
                  <th class="num">Units</th>
                  <th class="num">Amount</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let line of selectedService.lines; let i = index">
                  <td>
                    <input class="cell-input cell-code" maxlength="5" [(ngModel)]="line.cpt_code">
                  </td>
                  <td>
                    <input class="cell-input" maxlength="80" [(ngModel)]="line.description">
                  </td>
                  <td>
                    <input class="cell-input cell-mod" maxlength="3" [(ngModel)]="line.modifier">
                  </td>
                  <td class="num">
                    <input class="cell-input cell-num" type="number" min="1" [(ngModel)]="line.units">
                  </td>
                  <td class="num">
                    <input class="cell-input cell-num" type="text"
                      mask="separator.2"
                      thousandSeparator=","
                      prefix="$ "
                      [dropSpecialCharacters]="true"
                      [allowNegativeNumbers]="false"
                      [(ngModel)]="line.amount">
                  </td>
                  <td>
                    <mat-icon class="row-remove" matTooltip="Remove CPT line" (click)="removeCptLine(i)">close</mat-icon>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="detail-card">
            <div class="section-hdr">
              <span>Payments</span>
            </div>
            <div *ngIf="selectedService.payments.length === 0" class="empty-hint">
              Record insurer or patient payments against this service.
            </div>
            <table class="billing-table" *ngIf="selectedService.payments.length > 0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Method</th>
                  <th>Reference</th>
                  <th class="num">Amount</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pay of selectedService.payments; let i = index">
                  <td>{{ pay.pay_date | date:'MM/dd/yyyy' }}</td>
                  <td>{{ pay.method }}</td>
                  <td>{{ pay.reference }}</td>
                  <td class="num">{{ pay.amount | currency:'USD':'symbol':'1.2-2' }}</td>
                  <td>
                    <mat-icon class="row-remove" matTooltip="Remove payment" (click)="removePayment(i)">close</mat-icon>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="inline-add">
              <mat-form-field appearance="fill" class="form-field add-date">
                <mat-label class="form-label">Pay date</mat-label>
                <input matInput [(ngModel)]="newPayDate" mask="00/00/0000" placeholder="MM/DD/YYYY">
              </mat-form-field>
              <mat-form-field appearance="fill" class="form-field add-method">
                <mat-label class="form-label">Method</mat-label>
                <mat-select [(ngModel)]="newPayMethod">
                  <mat-option value="Check">Check</mat-option>
                  <mat-option value="EFT">EFT</mat-option>
                  <mat-option value="Patient">Patient</mat-option>
                  <mat-option value="Adjustment">Adjustment</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" class="form-field add-desc">
                <mat-label class="form-label">Reference</mat-label>
                <input matInput [(ngModel)]="newPayRef" maxlength="30" (keydown.enter)="addPayment()">
              </mat-form-field>
              <mat-form-field appearance="fill" class="form-field add-amt">
                <mat-label class="form-label">Amount</mat-label>
                <input matInput
                  mask="separator.2"
                  thousandSeparator=","
                  prefix="$ "
                  [dropSpecialCharacters]="true"
                  [allowNegativeNumbers]="false"
                  [(ngModel)]="newPayAmount"
                  placeholder="$ 0.00"
                  (keydown.enter)="addPayment()">
              </mat-form-field>
              <button mat-stroked-button type="button" (click)="addPayment()">Add payment</button>
            </div>
          </div>
        </div>

        <ng-template #noServiceSelected>
          <div class="svc-detail-panel empty-detail">
            Select a service or add a new date of service.
          </div>
        </ng-template>
      </div>
    </div>

    </div>

  </div>

  <div *ngIf="showPopup" class="error-popup">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="showSuccessPopup" class="popup-success">
    {{ successMessage }}
  </div>
